body{
    /* overflow: hidden; */
}

.body {
    font-family: 'Sora', sans-serif;
}

.light{
    /*height: 100%;*/
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
 }

.dark {
    /*height: 100%;*/
    /* background-image: linear-gradient(47deg, #000000 0%, #2c3e50 74%); */
    background-color: #2c3e50; 
    color: #FFFEFF;
}

.centerAlign {
    /* border: 2px solid burlywood; */
    text-align: center;
    padding: 20px;
    color: black;
}

.smallerLogo {
    height: 15%;
    margin-top: -20%;
}

.hoverOver {
    text-decoration: none;
}

.button {
    text-align: center;
    border: 2px solid black;
    width: 20%;
    margin-top: 8%;
    padding: 5px 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #2c3e50;
    color: #FFFEFF;
}

.head {
    font-size: 1.2em;
    /*border: 2px solid;*/
    padding: 10px 10px;
    /*margin-bottom: 20px;*/
    color: black;
    text-decoration: none;
}

.head:hover {
    text-decoration: underline;
}

.topMargin {
    padding-top: 2%;
}

.extraTopMargin {
    margin-top: -10%;
}

.title {
    text-decoration: none;
    font-size: 1.5em;
}

.h1 {
    text-decoration: none;
    font-size: 1.3em;
}

.ekdamaiSano {
    height: 50px;
}

.rightBorder {
    margin-top: 20px;
    margin-right: 5%;
    border: 1px solid black;
    padding: 10px;
    float: inline-end;
    cursor: pointer;
}

.plainText {
    text-decoration: none;
}

.boxCenter {
    text-align: center;
    border-radius: 5%; 
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 3%;
    opacity: 0.7;
    margin-top: 3%;
}

.fill {
    border: 2px solid black;
    padding: 15px;
    /* background-color: bisque; */
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.boxCenter:hover {
    /* border: 1px solid black; */
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    cursor: pointer;
    /*box-shadow: none;*/
}

.box {
    border-radius: 5%; 
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 3%;
    opacity: 0.7;
    margin-top: 3%;
}

.box:hover {
    /* border: 1px solid black; */
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    cursor: pointer;
    /*box-shadow: none;*/
}
